node_modules
.DS_Store
sessions
skills/*
!skills/make-document/
!skills/make-document/**
!skills/ot-opennext-release-v1/
!skills/ot-opennext-release-v1/**
!skills/file-pr
!skills/file-pr/**
!skills/watch-pr
!skills/watch-pr/**

auth.json
executor-sidecars.json
mcp-cache.json
mcp-npx-cache.json
models-store.json
models.json-local
bin/

.repos/

dist/
